@import "../node_modules/bulma/sass/utilities/initial-variables.sass"

$darkbluecustom: #0b409c
$lightbluecustom: #F2F7FF
$superdarkblue: #10316B
$themered: #C02727
$themeyellow: #FFFFD3
$themepinkishred: #F4806D
$primary: #0B409C

@import "../node_modules/bulma/bulma.sass"
